/*-----------------------------------------------------------------------------
Prototype Style Sheet (empty commented stylesheet)

version:   1.0
author:    Chuck Obaze
email:     cbo19@miami.edu
website:   http://chuckobaze.com
-----------------------------------------------------------------------------*/
/* =Remember Order Of Styling Links
-----------------------------------------------------------------------------

a:link, a:visited, a:hover, a:focus, a:active

*/
/* =imports
-----------------------------------------------------------------------------*/
/* START FONT FAMILY*/
/* END FONT FAMILY*/
/* =SASS Variables
-----------------------------------------------------------------------------*/
/* =Style Starts Here
-----------------------------------------------------------------------------*/
/* line 46, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

/* line 54, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 62, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0rem !important;
  color: #848484 !important;
}

/* line 67, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

/* line 72, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.wrapper {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

/* Nav Style Starts Here */
/* line 81, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
nav.header {
  background-color: #7B9A70;
  margin-bottom: 2rem;
}

/* line 86, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
a.page-header {
  color: #ffffff !important;
  font-size: 1.8rem;
}

/* line 91, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
.navbar-brand {
  float: left !important;
  font-family: 'Open Sans', sans-serif;
}

/* line 96, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.nav-container {
  overflow: auto;
}

/* line 101, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
ul.nav-right {
  float: right !important;
  font-size: 1.6rem;
  overflow: auto;
  margin-left: 55rem;
}

/* line 107, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
ul.nav-right li {
  float: right !important;
}

/* line 110, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
ul.nav-right li a {
  color: #ffffff !important;
  float: right !important;
  font-family: 'Open Sans', sans-serif;
}

/* Nav Style Ends Here */
/* Publicly Owned Land Starts Here */
/* line 122, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.first-section {
  overflow: auto;
  margin-bottom: 5em;
  padding: 0 2rem 0 2rem;
}

/* line 126, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.tf-section {
  overflow: auto;
  margin-bottom: 4rem;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
}

/* line 136, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.tf-section h1 {
  float: left;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

/* line 144, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.tf-section img {
  float: left;
  margin-right: 1.5rem;
  width: 5rem;
}

/* line 151, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
.left-div {
  float: left;
  padding: 0 !important;
}

/* line 155, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
.left-div p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-bottom: 1rem !important;
  font-size: 1.6rem;
}

/* line 164, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
.left-img, .right-img {
  overflow: auto;
  display: inline;
  float: left;
}

/* line 169, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
.left-img p, .right-img p {
  float: none;
  text-align: center;
  font-size: 1rem;
}

/* line 175, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
.left-img img, .right-img img {
  float: left;
  width: 19rem;
  margin-bottom: 0.5rem !important;
}

/* line 182, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
.left-img img {
  margin-right: 2rem;
  width: 18.69rem;
  margin-left: 7rem;
}

/* line 188, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
.right-div {
  float: right;
  padding: 0 !important;
}

/* line 192, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
.right-div p {
  font-size: 1.7rem;
  color: #848484;
  line-height: 1.7;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

/* line 201, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.second-section {
  overflow: auto;
  margin-bottom: 5em;
  padding: 0 2rem 0 2rem;
}

/* line 207, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.ts-section h2 {
  text-align: center;
  margin-bottom: 2rem !important;
  font-weight: 600;
}

/* line 213, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.ts-section p {
  font-size: 1.7rem;
  color: #848484;
  line-height: 1.7;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 75rem;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 3rem !important;
}

/* line 223, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.supp-section {
  margin-bottom: 3rem;
  overflow: auto;
}

/* line 227, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.supp-section p {
  font-size: 1.7rem;
  color: #848484;
  line-height: 1.7;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
}

/* line 232, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.supp-section img {
  width: 2rem;
}

/* line 238, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.supp-160 {
  overflow: auto;
}

/* line 241, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.supp-160 img {
  width: 5rem;
}

/* line 246, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.supp-2498 {
  overflow: auto;
}

/* line 249, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.supp-2498 img {
  width: 8rem;
}

/* line 254, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
p.source {
  font-size: small;
  text-align: center;
  margin: 0 auto;
  color: #848484;
}

/* line 261, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.third-section {
  overflow: auto;
  margin-bottom: 5em;
  padding: 0 2rem 0 2rem;
  padding: 0;
}

/* line 270, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.bp-header {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  background-color: #7B9A70;
  color: #ffffff;
}

/* line 280, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.bp-header h2 {
  margin: 0 auto;
  color: #ffffff !important;
}

/* line 288, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.bp-text p {
  font-size: 1.7rem;
  color: #848484;
  line-height: 1.7;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

/* line 293, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.fourth-section {
  overflow: auto;
  margin-bottom: 5em;
  padding: 0 2rem 0 2rem;
}

/* line 297, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.letter-list {
  padding-left: 2rem;
}

/* line 303, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.letter-section h2 {
  text-align: center;
  margin-bottom: 4rem !important;
  font-weight: 600;
}

/* line 312, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.right-list p, div.left-list p {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1.5rem !important;
}

/* line 320, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.right-list ul li, div.left-list ul li {
  font-size: 1.7rem;
  color: #848484;
  line-height: 1.7;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}

/*
div.fifth-section{
	@include section-style;
	
	h2{
		text-align: center;
		margin-bottom: 2rem !important;
	}
	
	P{
		@include body-font;
	}
}
*/
/* Publicly Owned Land Ends Here */
/* NOAH Styles Start Here */
/* line 346, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.noah-mid-div {
  padding: 0 !important;
  /*
	p{
		text-align: center;
		font-size: 1rem;
		margin-top: 2rem;
	}
*/
}

/* line 349, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.noah-mid-div p {
  font-size: 1.7rem;
  color: #848484;
  line-height: 1.7;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

/* line 358, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.noah-mid-div h2 {
  text-align: center;
  margin-bottom: 3rem !important;
}

/* line 363, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.noah-mid-div img {
  margin: 0 auto;
  width: 65rem;
  display: block;
}

/* line 378, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.noah-section {
  margin-bottom: 6rem !important;
}

/* line 382, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.noah-section h2 {
  text-align: center;
  font-weight: 600;
}

/* line 388, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.noah-chart-div {
  padding: 0 !important;
}

/* line 391, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.noah-chart-div p:first-child {
  font-size: 1.7rem;
  color: #848484;
  line-height: 1.7;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 3rem !important;
}

/* line 400, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.noah-chart-div h2 {
  text-align: center;
  margin-bottom: 3rem !important;
}

/* line 405, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.noah-chart-div img {
  margin: 0 auto;
  width: 75rem;
  display: block;
  margin-bottom: 3rem;
}

/* line 412, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.noah-chart-div p:last-child {
  font-size: 1.7rem;
  color: #848484;
  line-height: 1.7;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 3rem !important;
  margin-top: 3rem;
}

/* line 423, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
img.noah-map {
  display: block;
  margin: 0 auto;
  width: 55rem;
  margin-top: 3rem;
}

/* NOAH Styles Ends Here */
/* Footer Style Starts Here */
/* line 435, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.footer {
  background: url(../images/footer.png) no-repeat left center #7B9A70;
  padding-bottom: 5rem;
  box-sizing: border-box;
  height: 10rem;
}

/* line 442, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.last-footer {
  height: 10rem;
}

/* line 445, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.last-footer p {
  font-family: 'Pontano Sans', sans-serif;
  color: #ffffff !important;
  display: inline;
  line-height: 16rem;
  font-size: 1.2rem;
}

/* line 452, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
div.last-footer p a {
  text-decoration: underline;
  color: #ffffff !important;
  margin-right: 1rem;
}

/* Footer Style Ends Here */
@media (max-width: 575px) {
  /* line 466, /Users/chuckobazemac/Documents/toolkit/sass/style.scss */
  div.nav-container {
    margin-left: 0;
    margin-right: 0;
  }
  /*
	.left-img img{
		
	}
	
	.right-img img{
		
	}
*/
}

/*# sourceMappingURL=../css/style.map */