/*-----------------------------------------------------------------------------
Prototype Style Sheet (empty commented stylesheet)

version:   1.0
author:    Chuck Obaze
email:     cbo19@miami.edu
website:   http://chuckobaze.com
-----------------------------------------------------------------------------*/

/* =Remember Order Of Styling Links
-----------------------------------------------------------------------------

a:link, a:visited, a:hover, a:focus, a:active

*/

/* =imports
-----------------------------------------------------------------------------*/
@import 'font-family';

@import 'colors';

/* =SASS Variables
-----------------------------------------------------------------------------*/

$border: solid 1px;
$font-size: 1.7rem;

@mixin body-font{
	font-size: $font-size;
	color: $gray;
	line-height: 1.7;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
} 

@mixin section-style{
	overflow: auto;
	margin-bottom: 5em;
	padding: 0 2rem 0 2rem;
}

/* =Style Starts Here
-----------------------------------------------------------------------------*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6,p{
	margin-bottom: 0rem !important;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
}

div.wrapper{
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;
// 	overflow: auto;
}

/* Nav Style Starts Here */

nav.header{
	background-color: $um-green;
	margin-bottom: 2rem;
}

a.page-header{
	color: $white !important;
	font-size: 1.8rem;
}

.navbar-brand{
	float: left !important;
	font-family: 'Open Sans', sans-serif;
}

div.nav-container{
	overflow: auto;
	
}

ul.nav-right{
	float: right !important;
	font-size: 1.6rem;
	overflow: auto;
	
	li{
		float: right !important;
		
		a{
			color: $white !important;
			float: right !important;
			font-family: 'Open Sans', sans-serif;
		}
	}
}

/* Nav Style Ends Here */

/* Publicly Owned Land Starts Here */

div.first-section{
	@include section-style;
}

div.tf-section{
	overflow: auto;
	margin-bottom: 4rem;
	-webkit-flex: 1;
	flex: 1;
	display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
	
	h1{
		float: left;
		font-size: 2rem;
		line-height: 2.5rem;
		font-weight: 600;
		font-family: 'Open Sans', sans-serif;
	}
	
	img{
		float: left;
	    margin-right: 1.5rem;
	    width: 5rem;
	}
}

.left-div{
	float: left;
	padding: 0 !important;
	
	p{
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		margin-bottom: 1rem !important;
		font-size: 1.6rem;
	}
	
}

.left-img, .right-img{
	overflow: auto;
	display: inline;
	float: left;
	
	p{
		float: none;
		text-align: center;
		font-size: 1rem;
	}
	
	img{
		float: left;
		width: 19rem;
		margin-bottom: 0.5rem !important;
	}
}

.left-img img{
	margin-right: 2rem;
	width: 18.69rem;
    margin-left: 7rem;
}

.right-div{
	float: right;
	padding: 0 !important;
	
	p{
		font-size: $font-size;
		color: $gray;
		line-height: 1.7;
		font-weight: 300;
		font-family: 'Open Sans', sans-serif;
	}
}

div.second-section{
	@include section-style;
}

div.ts-section{
	
	h2{
		text-align: center;
		margin-bottom: 2rem !important;
		font-weight: 600;
	}
	
	p{
		@include body-font;
		text-align: center;
		width: 75rem;
		max-width: 100%;
		margin: 0 auto;
		margin-bottom: 3rem !important;
	}
}

div.supp-section{
	margin-bottom: 3rem;
	overflow: auto;
	
	p{
		@include body-font;
		line-height: 1.2;
	}
	
	img{
		width: 2rem;
// 		float: left;
	}
}

div.supp-160{
	overflow: auto;
	
	img{
		width: 5rem;
	}
}

div.supp-2498{
	overflow: auto;
	
	img{
		width: 8rem;
	}
}

p.source{
	font-size: small;
	text-align: center;
	margin: 0 auto;
	color: $gray;
}

div.third-section{
	@include section-style;
	padding: 0;
}

div.bp-container{
	
}

div.bp-header{
	-webkit-flex: 1;
	flex: 1;
	display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
    background-color: $um-green;
    color: $white;
    
    h2{
	    margin: 0 auto;
    }
}

div.bp-text{
	
	p{
		@include body-font;
	}
}

div.fourth-section{
	@include section-style;
}

div.letter-list{
	padding-left: 2rem;
}

div.letter-section{
	
	h2{
		text-align: center;
		margin-bottom: 4rem !important;
		font-weight: 600;
	}
}

div.right-list, div.left-list{
	
	p{
		text-align: center;
		font-size: 1.5em;
		margin-bottom: 1.5rem !important;
	}
	
	ul{
		
		li{
			@include body-font;
			font-size: 1.6rem;
		}
	}
}

/*
div.fifth-section{
	@include section-style;
	
	h2{
		text-align: center;
		margin-bottom: 2rem !important;
	}
	
	P{
		@include body-font;
	}
}
*/

/* Publicly Owned Land Ends Here */

/* NOAH Styles Start Here */

div.noah-mid-div{
	padding: 0 !important;
	
	p{
		font-size: $font-size;
		color: $gray;
		line-height: 1.7;
		font-weight: 300;
		font-family: 'Open Sans', sans-serif;
// 		margin-bottom: 3rem !important;
	}
	
	h2{
		text-align: center;
		margin-bottom: 3rem !important;
	}
	
	img{
		margin: 0 auto;
		width: 65rem;
		display: block;
	}
	
/*
	p{
		text-align: center;
		font-size: 1rem;
		margin-top: 2rem;
	}
*/
}

div.noah-section{
	
	margin-bottom: 6rem !important;
	
	h2{
		text-align: center;
		font-weight: 600;
	}
}

div.noah-chart-div{
	padding: 0 !important;
	
	p:first-child{
		font-size: $font-size;
		color: $gray;
		line-height: 1.7;
		font-weight: 300;
		font-family: 'Open Sans', sans-serif;
 		margin-bottom: 3rem !important;
	}
	
	h2{
		text-align: center;
		margin-bottom: 3rem !important;
	}
	
	img{
		margin: 0 auto;
		width: 75rem;
		display: block;
		margin-bottom: 3rem;
	}
	
	p:last-child{
		font-size: $font-size;
		color: $gray;
		line-height: 1.7;
		font-weight: 300;
		font-family: 'Open Sans', sans-serif;
 		margin-bottom: 3rem !important;
 		margin-top: 3rem;
	}
}

img.noah-map{
	display: block;
	margin: 0 auto;
	width: 55rem;
	margin-top: 3rem;
}

/* NOAH Styles Ends Here */

/* Footer Style Starts Here */


div.footer{
	background: url(../imgs/footer.png) no-repeat left center $um-green;
	padding-bottom: 5rem;
	box-sizing: border-box;
	height: 10rem;
}

div.last-footer{
	height: 10rem;
	
	p{
		font-family: 'Pontano Sans', sans-serif;
		color: #ffffff;
		display: inline;
		line-height: 16rem;
		font-size: 1.2rem;
		
		a{
			text-decoration: underline;
			color: #ffffff;
			margin-right: 1rem;
		}
	}
}


/* Footer Style Ends Here */

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {

	div.nav-container{
		margin-left: 0;
		margin-right: 0;
	}
	
/*
	.left-img img{
		
	}
	
	.right-img img{
		
	}
*/

}





