/*-----------------------------------------------------------------------------
Prototype Style Sheet (empty commented stylesheet)

version:   1.0
author:    Chuck Obaze
email:     cbo19@miami.edu
website:   http://chuckobaze.com
-----------------------------------------------------------------------------*/

/* =Remember Order Of Styling Links
-----------------------------------------------------------------------------

a:link, a:visited, a:hover, a:focus, a:active

*/

/* =imports
-----------------------------------------------------------------------------*/
@import 'fontfamily';

@import 'colors';


/* =SASS Variables
-----------------------------------------------------------------------------*/